<%- include("header")%>
    <% additionalCss=['/styles/cartandbuynow.css']; %>

        <div class="main">
            <div class="page-title">Review your order</div>

            <div class="checkout-grid">
                <div class="order-summary">
                    <div class="cart-item-container">
                        <% let sum = 0;%>
                        <% for(let i = 0; i < products.length; i++) {%>
                            <% sum += (products[i].price * products[i].quantity) ;%>
                        <div class="cart-item-details-grid">
                            <img class="product-image" src="<%=products[i].pic_path%>">
                            <div class="cart-item-details">
                                <div class="product-name">
                                    <%= products[i].p_name %>
                                </div>
                                <div class="product-price">
                                    PKR <%= products[i].price %>
                                </div>
                                <div class="product-quantity">
                                    <span>
                                        Quantity: <span class="quantity-label">
                                                <%= products[i].quantity%>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <%}%>
                    </div>
                </div>
            </div>

            <div class="payment-summary">
                <div class="payment-summary-title">
                    Order Summary
                </div>

                <div class="payment-summary-row">
                    <div>Items (<%= products.length %>):</div>
                </div>

                <div class="payment-summary-row subtotal-row">
                    <div>Total before tax:</div>
                    <div class="payment-summary-money">PKR <%= sum %></div>
                </div>

                <div class="payment-summary-row">
                    <div>Estimated tax (10%):</div>
                    <% let tax = sum/10; %>
                    <div class="payment-summary-money">PKR <%= tax %></div>
                </div>

                <div class="payment-summary-row total-row">
                    <div>Order total:</div>
                    <div class="payment-summary-money">PKR <%= (tax+sum) %></div>
                </div>
                <form action="/buynow" id="buy-form" method="post">
                    <input type="hidden" name="products" value="<%= JSON.stringify(products) %>">
                    <input type="hidden" name="cid" id="cid">
                    <button type="submit" class="place-order-button button-primary">
                        Place your order
                    </button>
                </form>
            </div>
        </div>
        </div>
        <script src="/scripts/buynow.js"></script>
        <%-include("footer")%>